/.phpunit.cache
/node_modules


/storage
/vendor
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

.htaccess_old
*.zip
*.xlsx
*.sql
*.sql.gz
.env

# WhatsApp service
/whatsapp-service/session/
/whatsapp-service/node_modules/
