.input-group {
    position: relative;
}

.form-control {
    padding-right: 40px; /* Adjust this value to control the spacing between the icon and input */
}

/* Style the icon button */
.input-group-text {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
}
